{% extends "base.html" %}

{% block content %}

  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col">
      <p>{{ content }}</p>
      <form method="POST"> {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-default form-control">Submit</button>
      </form>

      {% comment %} <form method="POST"> {% csrf_token %}
          <input type="text" class="form-control" placeholder="Name" name="fullname">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <textarea class="form-control" name="content" placeholder="Your content" cols="30" rows="10"></textarea>
          <button type="submit" class="btn btn-default form-control">Submit</button>
      </form> {% endcomment %}
    </div>
  </div>

{% endblock content %}
